/*body {*/
  /*background-color: white;*/


/*}*/


/*input[type=text] {*/
  /*margin-left: 30px;*/
  /*margin-right: auto;*/
  /*margin-top: 40px;*/
  /*width: 60%;*/
  /*border: 1.5px solid #000000;*/
  /*padding: 10px;*/
/*}*/


/*p.resultsText{*/
/*margin-left: 400px; margin-top: 100px; font-weight: bold; font-size:20px; float: left;*/
	/**/
/*}*/

/*p.taskText{*/
/*margin-right: 400px;	margin-top: 100px;  font-size:20px; font-weight: bold; float: right;*/
/*}*/

/*p.resultsBox{*/
	/*margin-left: 70px; margin-top: 50px;  font-size:15px; border:1px solid #000000; float: left; width: 600px;*/
/*}*/

/*p.taskBox{*/
	/*margin-right: 70px; margin-top: 50px; font-size:15px; border:1px solid #000000; float: right; width: 600px;*/
/*}*/

/*button.buttonSearch{*/
	/*background-color: #4CAF50; !* Green *!*/
  /*border: none;*/
  /*color: white;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*font-size: 16px;*/
  /*margin-top: 20px;*/
  /*margin-left: 30px;*/
  /*cursor: pointer;*/
  /*height: 30px;*/
  /*width: 90px;*/
/*}*/

