body {
  background-color: white;


}



input[type=text] {
  margin-left: 270px;
  margin-right: auto;
  margin-top: 300px;
  width: 60%;
  border: 1.5px solid #000000;
  padding: 10px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 700px;
  cursor: pointer;
  height: 30px;
  width: 90px;
}



h1 span  {font-size:70px; margin-left:180px}

p.task {margin-left: 50px; margin-right: 50px; margin-top: 50px; text-align:center; font-weight: bold; font-size:20px}
p.find {margin-left: 400px; margin-right: 400px; margin-top: 20px; height: 100px; font-size:15px; border:1px solid #000000;text-align:center;}

.btn-primary asdf {margin-top: 420px; margin-right: 30px}
