/*.center {*/
    /*margin: auto;*/
    /*max-width: 500px;*/
    /*padding: 10px;*/
/*}*/

/*.vertical-center {*/
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
/*}*/

body, html {
    height: 100%;
    display: grid;
}
.center { /* thing to center */
    margin: auto;
}
